In [1]:
import sqlite3

# BƯỚC 1: Kết nối đến SQLite (tạo database nếu chưa có)
conn = sqlite3.connect("NhanVien.db")  
cursor = conn.cursor() 

# BƯỚC 2: Tạo bảng NhanVien nếu chưa tồn tại
cursor.execute("""
    CREATE TABLE IF NOT EXISTS NhanVien (
        MaNV INTEGER PRIMARY KEY,
        HoTen TEXT,
        Tuoi INTEGER,
        PhongBan TEXT
    )
""")
conn.commit()  # Lưu thay đổi

# BƯỚC 3: Chèn dữ liệu vào bảng NhanVien
cursor.executemany("""
    INSERT INTO NhanVien (MaNV, HoTen, Tuoi, PhongBan) VALUES (?, ?, ?, ?)
""", [
    (1, 'Nguyen Van A', 30, 'Ke Toan'),
    (2, 'Tran Thi B', 25, 'Nhan Su'),
    (3, 'Le Van C', 28, 'IT'),
    (4, 'Pham Thi D', 32, 'Ke Toan'),
    (5, 'Vu Van E', 26, 'IT'),
    (6, 'Nguyen Thi F', 29, 'Marketing'),
    (7, 'Le Thi G', 27, 'Nhan Su'),
    (8, 'Hoang Van H', 35, 'Ke Toan'),
    (9, 'Pham Van I', 33, 'Marketing'),
    (10, 'Tran Van J', 24, 'IT'),
    (11, 'Dang Thi K', 31, 'Nhan Su'),
    (12, 'Nguyen Van L', 28, 'Ke Toan'),
    (13, 'Tran Thi M', 26, 'Marketing'),
    (14, 'Pham Van N', 30, 'Nhan Su'),
    (15, 'Hoang Thi O', 27, 'IT')
])
conn.commit() 

# BƯỚC 4: Truy vấn danh sách nhân viên
cursor.execute("SELECT * FROM NhanVien")
print("Danh sách nhân viên:")
for row in cursor.fetchall():
    print(row)

# BƯỚC 5: Truy vấn nhân viên có tên chứa "Nguyen"
cursor.execute("SELECT * FROM NhanVien WHERE HoTen LIKE '%Nguyen%'")
print("\nNhân viên có tên chứa 'Nguyen':")
for row in cursor.fetchall():
    print(row)

# BƯỚC 6: Truy vấn nhân viên thuộc phòng IT
cursor.execute("SELECT HoTen, Tuoi FROM NhanVien WHERE PhongBan = 'IT'")
print("\nNhân viên thuộc phòng IT:")
for row in cursor.fetchall():
    print(row)

# BƯỚC 7: Truy vấn nhân viên có tuổi lớn hơn 25
cursor.execute("SELECT * FROM NhanVien WHERE Tuoi > 25")
print("\nNhân viên có tuổi > 25:")
for row in cursor.fetchall():
    print(row)

# BƯỚC 8: Truy vấn nhân viên lớn tuổi nhất trong từng phòng ban
cursor.execute("""
    SELECT PhongBan, HoTen, Tuoi
    FROM NhanVien
    WHERE Tuoi IN (
        SELECT MAX(Tuoi) FROM NhanVien GROUP BY PhongBan
    )
""")
print("\nNhân viên lớn tuổi nhất trong từng phòng ban:")
for row in cursor.fetchall():
    print(row)

# BƯỚC 9: Cập nhật phòng ban của "Le Van C" thành "Marketing"
cursor.execute("UPDATE NhanVien SET PhongBan = 'Marketing' WHERE HoTen = 'Le Van C'")
conn.commit() 

# Kiểm tra lại thông tin của "Le Van C"
cursor.execute("SELECT * FROM NhanVien WHERE HoTen = 'Le Van C'")
print("\nThông tin sau khi cập nhật phòng ban của 'Le Van C':")
for row in cursor.fetchall():
    print(row)

# BƯỚC 10: Xóa nhân viên có MaNV = 2
cursor.execute("DELETE FROM NhanVien WHERE MaNV = 2")
conn.commit() 

# BƯỚC 11: Thống kê số lượng nhân viên theo phòng ban
cursor.execute("SELECT PhongBan, COUNT(*) AS SoLuongNhanVien FROM NhanVien GROUP BY PhongBan")
print("\nSố lượng nhân viên theo phòng ban:")
for row in cursor.fetchall():
    print(row)

# BƯỚC 12: Đóng kết nối với database
conn.close()

Danh sách nhân viên:
(1, 'Nguyen Van A', 30, 'Ke Toan')
(2, 'Tran Thi B', 25, 'Nhan Su')
(3, 'Le Van C', 28, 'IT')
(4, 'Pham Thi D', 32, 'Ke Toan')
(5, 'Vu Van E', 26, 'IT')
(6, 'Nguyen Thi F', 29, 'Marketing')
(7, 'Le Thi G', 27, 'Nhan Su')
(8, 'Hoang Van H', 35, 'Ke Toan')
(9, 'Pham Van I', 33, 'Marketing')
(10, 'Tran Van J', 24, 'IT')
(11, 'Dang Thi K', 31, 'Nhan Su')
(12, 'Nguyen Van L', 28, 'Ke Toan')
(13, 'Tran Thi M', 26, 'Marketing')
(14, 'Pham Van N', 30, 'Nhan Su')
(15, 'Hoang Thi O', 27, 'IT')

Nhân viên có tên chứa 'Nguyen':
(1, 'Nguyen Van A', 30, 'Ke Toan')
(6, 'Nguyen Thi F', 29, 'Marketing')
(12, 'Nguyen Van L', 28, 'Ke Toan')

Nhân viên thuộc phòng IT:
('Le Van C', 28)
('Vu Van E', 26)
('Tran Van J', 24)
('Hoang Thi O', 27)

Nhân viên có tuổi > 25:
(1, 'Nguyen Van A', 30, 'Ke Toan')
(3, 'Le Van C', 28, 'IT')
(4, 'Pham Thi D', 32, 'Ke Toan')
(5, 'Vu Van E', 26, 'IT')
(6, 'Nguyen Thi F', 29, 'Marketing')
(7, 'Le Thi G', 27, 'Nhan Su')
(8, 'Hoang Van H', 35, 'Ke Toan')
(9, 'Pham Van I', 33, 'Marketing')
(11, 'Dang Thi K', 31, 'Nhan Su')
(12, 'Nguyen Van L', 28, 'Ke Toan')
(13, 'Tran Thi M', 26, 'Marketing')
(14, 'Pham Van N', 30, 'Nhan Su')
(15, 'Hoang Thi O', 27, 'IT')

Nhân viên lớn tuổi nhất trong từng phòng ban:
('IT', 'Le Van C', 28)
('Ke Toan', 'Hoang Van H', 35)
('Marketing', 'Pham Van I', 33)
('Nhan Su', 'Dang Thi K', 31)
('Ke Toan', 'Nguyen Van L', 28)

Thông tin sau khi cập nhật phòng ban của 'Le Van C':
(3, 'Le Van C', 28, 'Marketing')

Số lượng nhân viên theo phòng ban:
('IT', 3)
('Ke Toan', 4)
('Marketing', 4)
('Nhan Su', 3)